  .first-cover{
    background-image: url(Images/334b266084822df8d23b59393cda65405d3c4edc.jpg);
    margin-left: 0px; 

  }

  .button-one {
    padding: 4px;
  }

    .button-five {
    padding: 8px;
    border-radius: 16px;
  }

  .main-header {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .cover-picture {
    display: inline-block;
    width: 200px; 
  }

  body {
      font-family: Arial, sans-serif;
  }
  nav {
      display: flex;
      background-color:  #25272e;
      padding: 10px;
      margin-bottom: 140px;
  }
  nav a {
      color: white;
      padding: 14px;
      text-decoration: none;
      text-align: center;
      border-radius: 8px;
  }

    nav a:first-child {
      margin-right: 800px;
      margin-left: 200px;
  }
 
  nav a:hover {
      background-color:white;
      border-radius: 18px;
      color:black;
  }

  .bottonlinks {
      display: flex;
      justify-content: space-between; /* Spread links */
      padding: 10px;
  }
  .bottonlinks a {
      color: white;
      padding: 2px; /* Padding */
      text-decoration: none;
      text-align: center;
      border-radius: 2px;
      margin-bottom: 60px;
      margin-top: 20px;
  }
  .bottonlinks a:first-child {
      margin-right: 50px; 
      margin-left: 200px;
      background-color: rgb(177, 174, 174);
      padding: 8px;
      border-radius: 12px;
  }

  .bottonlinks a:last-child{
      margin-right: 70px; 
      margin-left: 200px;
      background-color: rgb(177, 174, 174);
      padding: 8px;
      border-radius: 12px;
  }
  .bottonlinks a:hover {
      color:none;
  }

  .header-two {
    margin-left: 200px;
    color: white;
  }

  .header-three {
    margin-left: 200px;
    color: white;
  }

  .connect-button {
    margin-left: 200px;
    padding: 8px;
    border-radius: 200px;
  }  

  .first-heade {
    margin-left: 0px;
  }  





  /* =============================== Page TWO ===============*/

  .second-cover {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;

  }

  .page2-pic {
    display: inline-block;
    width: 400px; 
    margin-left: 200px;
    height: 700px;
  }

  .cv-button {
    box-shadow: 0 10px 10px rgba(21, 20, 30, 0.3);;
    background-color: rgb(4, 4, 50); 
    color: white;
    padding: 8px;
    border-radius: 16px;
    margin-left: 0px 
    

  }

  .page2-header {
    color: blue;
    margin-bottom: 0px;
    margin-top: 200px;
  }

  .page2-header2 {
    margin-bottom: 20px;

  }

  /* ================Page Three ==================*/

  .page3-cont1 {

    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

  }

  .prot-name {
    margin-right: 200px;
    height: 20px;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;

  }

  .page3-cont12 {
    padding: 8px;
    background-color: lightgray;
    padding: 20px;
    border-radius: 30px;
 
    
  }

  .page3-cont2 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

  }

  .pict1-info {
    display: grid;
    grid-template-columns: 50px 1fr;
  }

  .pict1-info1 {
    display: inline-block;
    width: 200px;
    vertical-align: top;

  }

  .pict1-info {
    background-image: url(Images/Air\ Pollution.png);
    width: 400px;

  }

  .page3-cont21 {
    margin-top: 330px;
    background-color: rgb(164, 162, 162);
    margin-bottom: 0px;
    width: 400px;
    height: 150px;
    margin-left: 10px;

  }

  .page3-cont13 {
    margin-left: 220px;
    padding: 20px;
    border-radius: 30px;
    border: none;
  }


  .page3-cont14 {
    padding: 20px;
    border-radius: 30px;
    border: none;
  }

  .arrow {
    font-size: 20px;
  }

 .page3-link2 {
  margin-left: 50px;
  margin-right: 50px;
 }

  .page3-link1 {
  margin-left: 30px;
  margin-right: 50px;
 }

  .page3-link5 {
  margin-left: 50px;
  margin-right: 0px;
 }









